<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<main>
    <p th:text="#{changelang}"></p>
    <p><a href="/tasks/new?lang=en"><div th:text="#{lang.en}"></div></a></p>
    <p><a href="/tasks/new?lang=nl"><div th:text="#{lang.nl}"></div></a></p>

    <h1 th:text="#{newtasktitle}">Add new Task</h1>
    <p th:text="#{newtasktext}"></p><a href="/tasks"><div th:text="#{goback}"></div></a>


    <form action="/tasks/new" method="post">
        <label for="name" th:text="#{Name}"></label>
        <input id="name" type="text" name="name" />
        <label for="date" th:text="#{Date}">date</label>
        <input id="date" type="date" name="date" />
        <label for="time" th:text="#{Time}">time</label>
        <input id="time" type="time" name="time" />
        <label for="description" th:text="#{Description}">description</label>
        <input id="description" type="text" name="description" />
        <input type="submit" value="OK"/>
    </form>
</main>
</body>
</html>