<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>task</title>
</head>
<body>
<main>
    <p th:if="${error != null}" th:text="${error}"></p>
    <ul th:each="tas : ${task}">
        <a th:href="@{'/tasks/' + ${tas.id}}"><li th:text="${tas.name + tas.time + tas.date}"></li></a>
        <a th:href="@{'/tasks/edit/' + ${tas.id}}"><p>edit</p></a>
        <a th:href="@{'/tasks/' + ${tas.id} + '/sub/create'}"><p>Add subtask</p></a>
    </ul>
</main>
</body>
</html>